@import '../.../../../styles.scss';

.board-page__title {
    font-family: $font;
    font-size: 16px;
    font-weight: 300;
    color: $secondary-color;
    display: flex;
    justify-content: center;
    padding-top: 16px;
}

.board-page__buttoncontainer {
    display: flex;
    justify-content: center;
}

.board-page__button {
    @include theme($theme: Button);
    background-color: $primary-color;
    color: $background-color;
    border-color: $primary-color;
    margin-bottom: 24px;
    border-style: solid;
}

.board-page__displaywinner {
    color: $secondary-color;
    font-family: $font;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
}

@media (min-width: 320px) {
    main {
        display: grid;
        grid-template-columns: 104px 104px 104px;
        grid-gap: 0px;
    }

    app-square {
        border: 1px $tertiary-color;
        height: 104px;
    }
}

@media (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 176px 176px 176px;
        grid-gap: 0px;
    }

    app-square {
        border: 1px $tertiary-color;
        height: 176px;
    }
}

@media (min-width: 1024px) {
    main {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-gap: 0px;
    }

    app-square {
        border: 1px $tertiary-color;
        height: 200px;
    }
}
